<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>section0</title>
</head>
<body>
	<div th:fragment="section3">
	<div class="jumbotron">
		<div class="container">
			<h1 th:text="${section.title}">nagłówek</h1>
			<p th:text="${nav.person3}">opis</p>
		</div>
    </div>
    <div class="container">
	    <p>Jesteśmy małżeństwem, które stara się żyć jak najbardziej ekologicznie. Nasz ogród nawozimy tylko własnym kompostownikiem i nie używamy żadnych chemicznych oprysków. 
		Uważamy, że plony mogą być mniejsze ale muszą być zdrowe.
		Pochodzimy z miasta, z Zielonej Góry. Chcieliśmy być bliżej ziemi,więc przeprowadziliśmy się na wieś. Zaraz potem w 2013r założyliśmy pasiekę. Aby jak najlepiej zadbać o pszczoły uczyliśmy się w Technikum Pszczelarskim w Pszczelej Woli pod Lublinem, gdzie oboje uzyskaliśmy tytuł Technik Pszczelarz. Uprawnia nas to również do organizowania wykładów i warsztatów.
		</p>
		<p>
		Nasza pasieka nie jest naszym źródłem utrzymania, nie jest przemysłowa. Składa się z kilkunastu uli w pobliżu domu, o które sami dbamy. Lokalizacja jest wręcz idealna. Wieś otoczona jest lasami, w pobliżu nie ma obciążonej drogi, a nasza droga kończy się 2km dalej, w następnej wsi, więc ruch samochodowy jest minimalny. Ponadto znajdujemy się 20km na zachód od Zielonej Góry, co przy najczęstszych wiatrach z zachodu chroni nas też przed zanieczyszczonym powietrzem z miasta.
		</p>
		<p> 
		Zapraszamy na nasz profil na Facebook:
 		<a href="https://www.facebook.com/pasiekakomorowskich" target="_blank">www.facebook.com/pasiekakomorowskich</a>
		</p>
		<p>Kontakt:</p>
		<p>
		mail: komorowskidev@gmail.com<br />
		tel. 609 798 317 (Krzysztof), 603 249 821 (Anna)
		</p>
		<p>Miód z 2017r. już nam się skończył. Zapraszamy do kontaktu w czerwcu 2018r.</p>
	</div>
	</div>
</body>
</html>