<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>section0</title>
</head>
<body>
	<div th:fragment="section1">
	<div class="jumbotron">
		<div class="container">
			<h1 th:text="${section.title}">nagłówek</h1>
			<p th:text="${nav.person1}">opis</p>
		</div>
    </div>
    <div class="container">
	    <ul>
			<li>doradztwo i wsparcie w sytuacjach kryzysowych</li>
			<li>psychoterapia uzależnień, współuzależnienia, DDA, oraz osób doświadczających przemocy</li>
			<li>wsparcie psychologiczne w doświadczaniu nerwic, depresji, chorób nowotworowych</li>
		</ul>
		<h3>rejestracja: tel. 603 249 821</h3>
		<p>Prowadzę psychoterapię uzależnień, współuzależnienia, Dorosłych Dzieci Alkoholików oraz osób doświadczających przemocy fizycznej i psychicznej. Prowadzę wsparcie psychologiczne u osób cierpiących na choroby nowotworowe, nerwice i depresje, wspieram i doradzam w sytuacjach kryzysowych, pomagam przeżyć czas żałoby.</p>
		<p>Pracuję w oparciu o nurt behawioralno-poznawczy, wiele zasięgam w z psychologii zorientowanej na proces, pracuję z oddechem, medytacją, snami. Zwracam uwagę na to co spożywają osoby zgłaszające się do mnie i wspieram również w tym zakresie. Jest mi bliskie podejście holistyczne. Uważam, że gdy wpływamy na naszą rzeczywistość, to jest miejsce zarówno na skuteczne działanie osobiste jak i na cudowne bogactwo tajemnic życia. Wszyscy jesteśmy częścią o wiele większej całości, choć niejednokrotnie zdarza się nam o tym zapomnieć.</p>
	</div>
	</div>
</body>
</html>