<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Pasieka Komorowskich</title>
<meta name="description" content="Nasze pszczelarzenie" />
<meta name="keywords" content="Komorowscy, pszczoły, pszczelarstwo, pasieka, miód" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous" />
</head>
<body>
	<div th:replace="fragments/header :: header">Header</div>
	<div class="jumbotron">
		<div class="container">
			<h2 th:text="${section2.title}">Tytuł sekcji</h2>
			<p th:text="${section2.person}">opis</p>
		</div>
    </div>
    <div class="container">
	    <p>Jesteśmy małżeństwem, które stara się żyć jak najbardziej ekologicznie. Nasz ogród nawozimy tylko własnym kompostownikiem i nie używamy żadnych chemicznych oprysków. 
		Uważamy, że plony mogą być mniejsze ale muszą być zdrowe.
		Pochodzimy z miasta, z Zielonej Góry. Chcieliśmy być bliżej ziemi,więc przeprowadziliśmy się na wieś. Zaraz potem w 2013r założyliśmy pasiekę. Aby jak najlepiej zadbać o pszczoły uczyliśmy się w Technikum Pszczelarskim w Pszczelej Woli pod Lublinem, gdzie oboje uzyskaliśmy tytuł Technik Pszczelarz. Uprawnia nas to również do organizowania wykładów i warsztatów.
		</p>
		<p>
		Nasza pasieka nie jest naszym źródłem utrzymania, nie jest przemysłowa. Składa się z kilkunastu uli w pobliżu domu, o które sami dbamy. Lokalizacja jest wręcz idealna. Wieś otoczona jest lasami, w pobliżu nie ma obciążonej drogi, a nasza droga kończy się 2km dalej, w następnej wsi, więc ruch samochodowy jest minimalny. Ponadto znajdujemy się 20km na zachód od Zielonej Góry, co przy najczęstszych wiatrach z zachodu chroni nas też przed zanieczyszczonym powietrzem z miasta.
		</p>
		<p> 
		Zapraszamy na nasz profil na Facebook:
 		<a href="https://www.facebook.com/pasiekakomorowskich" target="_blank">www.facebook.com/pasiekakomorowskich</a>
		</p>
		<p>Kontakt:</p>
		<p>
		mail: komorowskidev@gmail.com<br />
		tel. 609 798 317 (Krzysztof), 603 249 821 (Anna)
		</p>
		<p>Miód z 2017r. już nam się skończył. Zapraszamy do kontaktu w czerwcu 2018r.</p>
	</div>
	<div th:replace="fragments/footer :: footer">Footer</div>
</body>
</html>