<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Komorowscy - strona główna</title>
<meta name="description" content="strona Komorowskich - psychoterapia, programowanie, pszczelarstwo" />
<meta name="keywords" content="Komorowscy, psychoterapia, programowanie, java, pszczelarstwo, pasieka, miód" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous" />
</head>
<body>
	<div th:replace="fragments/header :: header">Header</div>
	<div class="jumbotron">
		<div class="container">
			<h1>Witaj internaut(k)o!</h1>
			<p>Znajdujesz się na stronie Komorowskich. Jedno z nas jest psychoterapeutą, drugie programistą. A naszą wspólną pasją jest pszczelarstwo. Wybierz poniżej interesujący Cię temat.</p>
		</div>
    </div>
    <div class="container">
	    <div class="row">
	        <div class="col-md-4">
	          <h2 th:text="${header.title[0]}">Tytuł sekcji</h2>
	          <p th:text="${section0.description}">opis</p>
	          <p th:text="${section0.person}">osoba</p>
	          <p><a class="btn btn-default" th:href="${header.url[0]}" role="button">Szczegóły &raquo;</a></p>
	        </div>
	        <div class="col-md-4">
	          <h2 th:text="${header.title[1]}">Tytuł sekcji</h2>
	          <p th:text="${section1.description}">opis</p>
	          <p th:text="${section1.person}">osoba</p>
	          <p><a class="btn btn-default" th:href="${header.url[1]}" role="button">Szczegóły &raquo;</a></p>
	       </div>
	        <div class="col-md-4">
	          <h2 th:text="${header.title[2]}">Tytuł sekcji</h2>
	          <p th:text="${section2.description}">opis</p>
	          <p th:text="${section2.person}">osoba</p>
	          <p><a class="btn btn-default" th:href="${header.url[2]}" role="button">Szczegóły &raquo;</a></p>
	        </div>
	    </div>
	</div>
	<div th:replace="fragments/footer :: footer">Footer</div>
</body>
</html>