<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Programowanie - Krzysztof Świerkosz-Komorowski</title>
<meta name="description" content="Java developer programista" />
<meta name="keywords" content="java spring slf4j junit git eclipse" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous" />
</head>
<body>
	<div th:replace="fragments/header :: header">Header</div>
	<div class="jumbotron">
		<div class="container">
			<h2>PROGRAMOWANIE</h2>
			<p>Java Spring Slf4j JUnit Eclipse</p>
			<p>
			mgr inż. Krzysztof Świerkosz-Komorowski<br />
			mail: komorowskidev@gmail.com<br />
			<a href="http://pl.linkedin.com/in/komorowskidev" target="_blank">LinkedIn: pl.linkedin.com/in/komorowskidev</a><br />
			<a href="http://www.goldenline.pl/krzysztof-swierkosz-komorowski" target="_blank">GoldenLine: goldenline.pl/krzysztof-swierkosz-komorowski</a><br />
			</p>
		</div>
    </div>
    <div class="container">
	    <p>
		Obecnie piszę aplikacje w języku Java. Znam PHP, Android, MySQL i SQLite oraz HTML/CSS i JavaScript.  
		Używam środowiska Eclipse i Android Studio.
		Ta strona napisana jest z wykorzystaniem frameworków SpringBoot i Bootstrap.  
		Kod moich aplikacji można obejrzeć na 
		<a href="https://github.com/komorowskidev" target="_blank">GitHub</a><br />
		W wolnym czasie ćwiczę kodowanie rozwiązując problemy programistyczne na <a href="http://www.codeabbey.com" target="_blank">CodeAbbey</a><br /> 
		28 kwietnia 2017 - mam rozwiązane 25 problemów i awansowałem na 3 miejsce wśród polaków piszących w PHP (20 pozycja w rankingu światowym w PHP).<br />
		29 kwietnia 2017 - rozwiązane 30 problemów i awans na 2 miejsce wśród polaków piszących w PHP (17 pozycja z 313 w rankingu światowym w PHP).<br />
		10 maja 2017 - rozwiązane 40 problemów - 2 miejsce wśród polaków piszących w PHP (9 pozycja wśród wszystkich piszących w PHP).<br />
		Zmieniam język na Java.<br /> 
		15 maja 2017 - aktualna pozycja bez względu na język to 1092 (na ponad 19000 programistów).<br />
		18 maja 2017 - zaczynam zajmować się Javą zawodowo (dużo nauki, mało czasu na rozwiązywanie zadań).<br />
		Link do rankingu: <a href="http://www.codeabbey.com/index/user_ranking" target="_blank">www.codeabbey.com/index/user_ranking</a>
		</p>
	</div>
	<div th:replace="fragments/footer :: footer">Footer</div>
</body>
</html>